body {
  font-family: 'Montserrat', sans-serif;
  margin: 30px;
  background: HoneyDew;
}

.popo-container {
  border: 2px solid SlateBlue;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  margin: 0;
}

.heading-title {
  font-size: 48px;
  color: #FF0033;
}

.popo {
  list-style: none;
  box-sizing: border-box;
  border: 2px solid SlateBlue;
  width: 300px;
  /*height: 450px;*/
  margin: 15px;
}

.popo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popo > a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  /*height: 45%;*/
  border-bottom: 2px solid SlateBlue;
}

.popo h2 > a {
  color: SlateBlue;
  text-decoration: none;
}

.popo h2 a:hover {
  color: LightSeaGreen;
}

.popo-subcontainer {
  color: SlateBlue;
  box-sizing: border-box;
  width: 100%;
  /*height: 55%;*/
  padding: 30px;
  background: white;
}

.popo-subcontainer h2 {
  margin: 0;
}
